.home_page{
  background-color: #EC441E;
  color:white;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-around;
  width:100vw;
  height:100vh;
}

.home_page > img{
  animation:airplane_movement 3s 0s ease;
}

.signout_icon{
  width:23px;
}

.signout_btn{
  border: none;
  background: none;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.home_page button{
  width:184px;
  height:31px;
  background-color: #FFFFFF;
  color:#EC441E;
  border:none;
  cursor:pointer;
  border-radius: 10px;
}

.home_page button:hover{
  transform: scale(1.1);
}

.personal_profile_block{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  width: 400px;
  margin: auto;
}

.personal_profile_block img{
  margin-left:20px;
}

.personal_profile_block p{
  margin-left: 25%;
}
.person_info_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.personal_info_wish_block{
  margin-top: 100px;
}

.person_info_block fieldset, .booking_places_block fieldset{
  width:300px;
  height:56px;
  border-radius: 5px;
  border-color: #E9EBEA;
}

.person_info_block fieldset:focus-within legend, .booking_places_block fieldset:focus-within legend{
  color:orangered;
}

.booking_places_block fieldset{
  margin-top:20px;
}
legend{
  color:#757272;
}

.user_input_block{
  display:flex;
  align-items: center;
}

.person_info_block fieldset{
  margin:10px 0px;
}

.user_input_block input, .user_input_block select{
  width: 240px;
  height: 30px;
  margin-left: 5px;
  border:none
}

.user_input_block input:focus, .user_input_block select:focus{
  outline:none;
}

.confirm_btn,.search_btn{
  width: 330px;
  /* width:300px; */
  height:59px;
  border-radius: 5px;
  background: #EC441E;
  color: #FDEBE6;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin:10px 0px ;
}

.skip_link{
  color:#EC441E;
  text-decoration: none;

}

.homepage_block{
  width: 400px;
  margin:auto;
}

.homepage_header_block,.flight_details_header_block, .payment_header_block, .boardingpass_header_block, .seat_booking_header_block{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  margin:auto;
}
.homepage_header_block > p, .flight_details_header_block > p,  .payment_header_block > p, .boardingpass_header_block > p, .seat_booking_header_block > p {
  font-size: 20px;
}

.homepage_button_active{
  background-color: #EC441E;
  color: #FDE3DD;
  border: none;
  width: 100px;
  height: 33px;
  border-radius: 20px;
}

.homepage_button_inactive{
  border: none;
  width: 100px;
  height: 33px;
  border-radius: 20px;
  color:#B8B8B8;
  background-color: white;
}

.booking_buttons{
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.3);
  width: 380px;
  padding: 3px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}

.booking_buttons > button{
  cursor: pointer;
}

.booking_places_block{
  padding:10px;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.3);
  /* width:340px; */
  width: 85%;
  border-radius: 5px;
  margin:30px auto;
}



.user_input_flight_details_block{
  width:400px;
  display: flex;
}

.user_input_flight_details_block fieldset,.airplane_classname{
  /* width: 120px */
  width : 134px;
  border-radius:5px;
}

.user_input_block > .return_select{
  width:110px;
}


.airplane_classname:focus{
  outline:none;
}

.user_input_flight_details_block input{
  width: 100px;
}

.flight_details_block{
  width:400px;
  display:flex;
  flex-direction: column;
  box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin:30px auto;
}

.flight_deatils_subheader_block{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:green;
  font-size:2rem;
}

.flight_deatils_subheader_block p,.flight_deatils_subheader_block h2{
  margin:0px;
}

.flight_details_timings_block{
  display:flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.flight_details_timings_block img{
  color:white;
}
.flight_details_timings_block p,.payment_details_timings_block{
  font-size:32px;
  margin-top:0px;

}
hr{
  width: 380px;
}

.flight_places_indetail p{
  color:#CCCCCC;
}

.flight_details_places_block,.payment_details_places_block{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.flight_details_places_block p,.payment_details_places_block p{
  width: 130px;
}

.flight_details_timing_block{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:10px;
}

.flight_details_price_block{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flight_details_price_block p{
  color:#8A8A8A;
  font-size:24px;
  margin:10px 0px;
}

.flight_name{
  text-align:center;
  font-size:20px;
}

.flight_name>span{
  color:gery;
}

.flight_details_price_block b{
  color:#000000;
  font-size:32px;
  font-weight: lighter;
}

.confirm_btn{
  width: 140px;
  height: 50px;
  background-color: #EC441E;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;

}
.confirm_btn:hover, .cancel_btn:hover {
  transform: scale(1.1);
}
.cancel_btn{
  width: 140px;
  height: 50px;
  color: #EC441E;
  background-color: white;
  border:2px solid orangered;
  outline:none;
  cursor: pointer;
  border-radius: 5px;
}


.flight_details_block_btns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_block{
 padding:5px;
}

.payment_details_subheader{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:360px;
  background-color: #EEEFEF;
}
.payment_details_subheader_block{
  display: flex;
  flex-direction: column;      
  width: 400px;
  margin: auto;
  background-color: #EEEFEF;
  padding: 20px 0px;

}
.payment_details_subheader_block>hr{
  width:380px;
}
.payment_details_subheader > div > p, .payment_details_subheader > div > h2, .boarding_pass_subheader > div > h2{
  color:green;
  margin:0px;
}

.payment_details_time_block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_details_timings_block{
  display:flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.payment_details_timings_block p{
  color:#454545;
  margin:0px;
}

.payment_details_price_block{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.payment_details_price_block p{
  margin:0px;
}
.payment_details_price_block h3{
  color:#EC441E;
  margin:0px;
}

.payment_form_block{
  width:400px;
  margin:auto;
}

.payment_form_block p{
  font-size: 18px;
}
.payment_form_block input{
  width: 380px;
  border: none;
  border-bottom: 2px solid #EDEDED;
  font-size:18px;
}

.payment_form_block input:focus{
  outline:none;
  border-bottom: 2px solid orangered;
}

.payment_card_icons{
  display:flex;
  align-items: center;
}

.payment_card_icons img{
  margin-right:10px;
}

.payment_submit_btn,.download_button{
    width:360px;
    height:59px;
    border-radius: 5px;
    background: #EC441E;
    color: #FDEBE6;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin:10px 0px ;  
    font-size: 16px;
}
.payment_cancel_btn{
  width:360px;
  height:59px;
  border-radius: 5px;
  color:#EC441E;
  border:2px solid #EC441E;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.boarding_pass_subheader{
  width:380px;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:20px auto;
}

.boarding_pass_subheader:hover{
      transform: scale(1.05);
      border: 2px solid orangered;
      padding: 2px;
}

.boarding_flight_details_timings_block{
  display: flex;
  align-items: baseline;
  width: 400px;
  justify-content: space-evenly;
}

.boarding_flight_details_places_block{
  display:flex;
}

.boarding_flight_details_timings_block p{
  font-size:32px;
  margin-top:0px;
  color:#454545
}

.payment_details_places_block p{
  color: #808181;
  margin:0px;
}

.boarding_pass_places_details > p{
  font-weight:bold;
}

.boarding_flight_details_timings_block > p{
  margin:0px;
}

.passenger_details_block{
  width:400px;
}

.passenger_details_block th, .passenger_details_block td{
  text-align: center;
}

.passenger_details_block th{
  font-size: 16px;
  color:#808181;
}

.passenger_details_block td{
  color:#000000;
  font-size: 18px;
}

.boarding_pass_subheader > a{
  text-decoration: none;
  color: #EC441E;
  font-size: 18px;
}


.side_panel_bar{
  width:350px;
  margin: 100px auto;
}

.user_name_block{
  text-align: center;
}
.user_name_block p{
  color:#AAAAAA;
  font-size: 20px;
  margin-bottom:0px;
}

.user_name_block h3{
  font-size: 24px;
  margin-top:0px;
  color: orangered;
}

.side_panel_links div{
  display: flex;
  align-items: center;    
  margin-left: 50px;
  margin-top:10px;
}

.admin_icon_block{
  margin-left: 40px !important;
  margin-top: 5px !important;
}

.side_panel_links div:hover>a, .signout_btn:hover{
  transform: scale(1.1);
  color:orangered;
}

.side_panel_links div>a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.side_panel_bar hr, .search_block hr{
  width:330px;
}


.individual_flight_details{
  display: flex;
  align-items: center;    
  justify-content: space-evenly;
}


.individual_flight_spec{
  display: flex;
  gap: 5px;
  align-items:center;
  
}

.individual_flight_spec p{
  color: #4d4c4c;
  font-weight: bold;
}

.individual_flight_timings p{
  margin-bottom:0px;
}

.flight_desc{
  width:350px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin:auto;
}


.check_btn{
  /* text-align: center;
  text-decoration: none; */
  width: 300px;
  /* padding:10px 0px; */
  height: 40px;
  background: #EC441E;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.results_block, .admin_login_block form{
  display: flex;
  flex-direction: column;    
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  width: 380px;    
  padding: 15px 0px;
  margin: 10px auto;
  border-radius: 5px;
}

.admin_login_block{
  margin-top: 50px;
}

.admin_login_block h2,.admin_login_block p,a{
  color: orangered;
  text-align: center;
  text-decoration: none;
}

.admin_login_block form{
  display: flex;
  flex-direction: column;
}

.admin_login_block form input{
  width: 350px;
  padding: 5px;
  margin: 5px 0px;
}


.results_block:hover, .seats_column > button:hover{
  transform:scale(1.1);
}

.seat_booking_subheader_part{
  display: flex;
  align-items: center;    
  justify-content: space-evenly;
  width: 350px;
  margin:10px auto;
}

.selected_list_el{
  font-size: 18px;
  color: #EC441E;
}

.reserved_list_el{
  font-size: 18px;
  color: #7C7270;
}

.selected_list_el>p, .reserved_list_el > p{
  font-size: 16px;
  color: #868686;

}

.seats_container{
  /* width:380px; */
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display : flex;
  padding : 10px;
}

.seats_column{
  display: flex;
  flex-direction: column;
}

.seats_column button{
  width : 35px;
  height : 35px;
  margin: 0px 20px;
  border : none;
  border-radius : 5px;
  color : #575757;
  font-size : 14px;
  cursor : pointer;
}

.seats_column span{
  /* display: none; */
  visibility: hidden;
}

.seats_column button:hover+span{
  /* display:block; */
  visibility: visible;
}

.seats_column p{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 75px;
  height: 54px;
  margin-top: 0px;
}

.selected_seat{
  background-color: #EC441E;
  color: white !important;
}

.reserved_seat{
  background-color: #D9D9D9;
  color: #575757;
  cursor: not-allowed !important;
}

.seat_booking_confirm_btn{
      width: 350px;
      height: 59px;
      border-radius: 5px;
      background: #EC441E;
      color: #FDEBE6;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin: 10px auto;
}

.seat_booking_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_highlighted_para{
  color: #ed5b5b;
}

.error_highlighted_input{
  border-bottom: 2px solid #ed5b5b !important;
}

.loader {
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: orangered;
  box-sizing: border-box;
  animation: spotlight 2s linear infinite alternate;
}

.loader_block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

@keyframes spotlight {
  0% , 20% {
    opacity: 1;
    letter-spacing: 2px;
   }
 80% , 100% {
    opacity: 0;
    letter-spacing: 20px;
   }
}
      
.error_block{
  width: 380px;
  margin:100px auto;
}

.error_block h5{
  font-size: xx-large;
  margin: 0px;
}

.error_block span{
  font-weight: bold;
}

.error_block>a{
  background: orangered;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.page_not_found_block{
  width: 400px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_not_found_block > h2, .page_not_found_block > p{
  text-align: center;
}

.page_not_found_block > h1{
  margin: 0px;
  font-size: xxx-large;
}

.passengers_info_block{
  width: 340px;
  margin: auto;
}

.passengers_details_block input{
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}


.passengers_details_block h4{
  color: orangered;
}

.passengers_info_block form{
  box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.passengers_info_block > form > button{
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: orangered;
  color: white;
}


.fa-star:before {
  font-size: xx-large;
  margin:0px 10px;
}

.rating_block{
  width:360px;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating_submit_btn, .support_search_btn{
  width: 100px;
  padding: 10px;
  border: none;
  background: orangered;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: medium;
}

.support_block{
  width: 400px;
  margin:auto;
}

.support_block > p{
  margin: 0px;
  margin-bottom: 10px;
}

.support_block input{
  width :360px;
  padding:5px;
  margin-bottom: 20px;
}

.support_block input:focus{
  border: 2px solid orangered;
}

.support_block>a, .rating_block>a{
  color:orangered;
  cursor: pointer;
  text-decoration:none;
}

.fa:hover{
  color:orangered;
}

fieldset:focus-within{
    border: 2px solid orangered;
}


.success_message_block{
  color: orangered;
  animation: success_highlight 2s 0s ease;
}

.admin_block h2, table{
  text-align: center;
}

.search_by_ticket_block > h2{
  margin-top: 20px;
  text-align: center;
}

.search_by_ticket_block, .admin_support_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.search_by_ticket_link > a, .back_link > a, .admin_main_page a, .admin_block a{
  text-decoration: none;
  color: orangered;
  cursor: pointer;
  font-size:larger;
}

/* .back_button{
  text-align: center;
} */

/* .back_button a:hover{
  text-decoration: underline;
} */

.admin_main_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin_main_page nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin_main_page h2{
  text-align: center;
}

.admin_block select, .admin_support_block select{
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 0px 10px;
}

.admin_selection_area{
  display: flex;
    align-items: flex-start;
    justify-content: center;
}

.result_table > p{
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.result_table table, .search_table_block table, .admin_support_block table{
  margin: 20px auto;
  padding: 10px;
  border: 2px solid black;
  border-collapse: collapse;
}
/* .result_table table{
  width: 400px;
} */

.result_table table th, 
.result_table table td, 
.search_table_block table th, 
.search_table_block table td, 
.admin_support_block table td, 
.admin_support_block table th {
  border: 1px solid black;
  padding: 5px;
}

.names_column{
  width: 150px;
}

.search_table_block{
  overflow-x: scroll;
  margin: 10px;
}

.input_search_block input{
  width:200px;
  padding:5px;
}

.input_search_block button, .reset_btn{
  width: 100px;
  padding: 9px;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  font-size: medium;
}

.admin_login_btn{
  width: 100px;
  padding: 10px 5px;
  border: none;
  background-color: orangered;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
}

.admin_main_page p>a:hover{
  text-decoration: underline;
}
.admin_main_page button{
  background-color: orangered;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.admin_main_page button:hover{
  background-color: white;
  color: orangered;
  border: 2px solid orangered;
}

@keyframes success_highlight{
  from{
    transform: translateX(50px);
    opacity: 0;
  }
  to{
    transfrom: translateX(0px);
    opacity: 1;
  }
}

@keyframes airplane_movement{
  from{
    transform: translateY(200px);
  }
  to{
    transform: translateX(0px);
  }
}

text{
  display: none;
}

rect{
  height:50px;
}

svg{
  width:370px;
}

@media(min-width:700px){
  .result_table table{
    width: 650px;
  }
}

@media (min-width:420px) and (max-width:800px){
  .search_table_block{
    width: 600px;
  }
}

@media(max-width:420px){
  .admin_block{
    width: 420px;
  }

  .search_table_block{
    width: 400px;
  }

  .admin_selection_area{
    width: 420px;
  }
}

@media(max-width: 500px){
  .admin_main_page nav{
    flex-direction: column;
  }
  .admin_main_page p{
    margin: 0px;
  }
}